.tabs {
    margin-top: 10px;
    float:right;
    }



.login{
    width: 200px;
    float: right;
    margin-right: 40px;
    }



.checkbox {
    padding-left: 20px;
    }

.navbar-brand {
    font-size: 300%;
    margin-right: 30px;
    }




.searching{
    margin-top: 100px;
    }

footer {
    margin-top: 220px;
    position:relative;
    border-top: 1px solid;
    }







